@use "../settings/var" as colors;

.footer {
    width: 100%;
    padding: 1rem;
    background-color: #000;

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }

    &-link {
        color: colors.$gold-light;
    }

    &-text {
        color: #FFF;

        &--gold {
            color: colors.$gold-light;
        }
    }
}
