@use "../settings/var" as colors;
@use "../settings/breakpoints" as breakpoints;
@use "../utils/mixins" as mixins;


.header {
    width: 100%;
    height: max-content;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: colors.$blue-dark;
    z-index: 5;

    &__wrapper {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__logo {
        font-size: .75em;
        color: white;

        @media (min-width: 475px) {
            font-size: 1em;
        }
    }

    &__cta {

        display: flex;
        align-items: center;
        gap: 1rem;

        &-email {
            color: white;
            font-size: .75em;
        }

        &-link {
            font-size: 1.25em;
            color: colors.$gold-deep;
        }
    }
}